.suggestion-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid;
  border: 1px;
}

.name-email-box {
  justify-content: center;
  align-items: center;

}

.select-all-apply-menu{
  display: flex;
  padding: 5px;
  padding-bottom: 30px;
  align-items: left;
  flex-direction: column;
}

.left-align {
  align-items: left;
}

.no-newline {
  display: inline-flex;
}

.submit button{
  font-size: 30px;
  height: 70px;
  width: 150px;
  padding: 20px;
  margin-bottom: 150px;
}

.dropdown-container{
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.chat-box-container {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  position: absolute;
  bottom: 0;

}

.footer {
    display: flex;
    color: aliceblue;
    font-weight: bold;
    height: 90px; 
    width: 100%; 
    justify-content: center;
    align-items: center;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    left: 0pt;
  background-color: rgba(29, 70, 170, 1); /* Set the background color to light blue */
}