.suggestion-box-container {
  justify-content: center;
  align-items: center;
}

.name-email-box {
  height: 200px;
  justify-content: center;
  align-items: center;
}

.select-all-apply-menu{
  height: 500px;
  justify-content: center;
  align-items: center;
}