.suggestion-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.name-email-box {
  justify-content: center;
  align-items: center;
}

.select-all-apply-menu{
  padding: 50px;
  justify-content: center;
  align-items: left;
  border: 1px;
  border: solid;
}

.left-align {
  align-items: left;
}

.no-newline {
  display: inline-flex;
}

.chat-box-container {
  position: absolute;
  bottom: 0;
}