.progress-bar-container {
    width: 100%;
    background-color: #eee;
  }
  
  .progress-bar {
    width: 0;
    height: 30px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    line-height: 30px;
    transition: width 0.5s;
  }
  